In [1]:
import os

In [2]:
os.get cwd()

'C:\\Users\\karan\\Data_Science(Course)'

**dictionary methods**

In [3]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

$Items-keys-values$

In [4]:
d1={'Ram':25,      
    'Raheem': 30,
    'Robert':35}

d1["Ram"]

25

In [8]:
type(d1.items())

dict_items

In [9]:
type(d1.keys())

dict_keys

In [13]:
value=d1.values()

In [11]:
type(d1)

dict

In [14]:
list(value)

[25, 30, 35]

In [15]:
d1={'Ram':25,      
    'Raheem': 30,
    'Robert':35}

keys=list(d1.keys())
values=list(d1.values())

In [18]:
dict2={}
dict2["Keys"]=keys
dict2["values"]=values
dict2

{'Keys': ['Ram', 'Raheem', 'Robert'], 'values': [25, 30, 35]}

In [4]:
dict3={}
l1=[]
l2=[]
d1={'Ram':25,      
    'Raheem': 30,
    'Robert':35}
key=d1.keys()
value=d1.values()
for i,j in zip(key,value):
    l1.append(i)
    l2.append(j)
    dict3["keys"]=l1
    dict3["values"]=l2
dict3

{'keys': ['Ram', 'Raheem', 'Robert'], 'values': [25, 30, 35]}

In [28]:
dict1={}
for i in range(len(keys)):
    dict1[keys[i]]=values[i]
    
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [29]:
dict(zip(keys,values))

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [48]:
s1='virat.kohli@blr.com,Rohit.sharma@mumbai.com,kl.rahul@luknow.com'
n1=s1.index(",")
n2=s1.index(",",n1+1)
na1=s1[0:n1]
na2=s1[n1+1:n2]
na3=s1[n2+1:len(s1)+1]
name1=[na1:na1.index('.')]

virat.kohli@blr.com Rohit.sharma@mumbai.com kl.rahul@luknow.com

In [53]:
s1='virat.kohli@blr.com,Rohit.sharma@mumbai.com,kl.rahul@luknow.com'
l1=s1.split(',')
d1={}
first_name=[]
second_name=[]
company=[]
for i in l1:
    first_name.append(i[0:i.find('.')])
    second_name.append(i[i.find('.')+1:i.find('@')])
    company.append(i[i.find('@')+1:i.find('.',i.find('.')+1)])
    
d1["first_name"]=first_name
d1["second_name"]=second_name
d1["company"]=company
d1

{'first_name': ['virat', 'Rohit', 'kl'],
 'second_name': ['kohli', 'sharma', 'rahul'],
 'company': ['blr', 'mumbai', 'luknow']}

In [58]:
str1='can can you canner can you able to can canner'
l1=str1.split()
d2={}
for i in l1:
    d2[i]=l1.count(i)
d2

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [ ]:
list.index()

In [59]:
list(d1.keys())[list(d1.values()).index(max(list(d1.values())))]

'first_name'

In [67]:
list(d1.values()).index(max(list(d1.values())))

0

In [66]:
list(d1.values())

[['virat', 'Rohit', 'kl'],
 ['kohli', 'sharma', 'rahul'],
 ['blr', 'mumbai', 'luknow']]

In [68]:
d1.keys()

dict_keys(['first_name', 'second_name', 'company'])

In [80]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}
d3={}
for i in d1:
    d3[i]=d1[i]+d2[i]
d3

{'a': 70, 'b': 130, 'c': 240}

In [85]:
(d1)['a']

20

In [76]:
int(str(d2.values()))+20

ValueError: invalid literal for int() with base 10: 'dict_values([50, 100, 200])'

In [2]:
d1={'Ram':25,      
    'Raheem': 30,
    'Robert':35}
d1.clear()
d1

{}

In [3]:
d1={'Ram':25,      
    'Raheem': 30,
    'Robert':35}
d2=d1.copy()
d1.clear()
d1,d2

({}, {'Ram': 25, 'Raheem': 30, 'Robert': 35})

$pop-popitems-del$

 - What is pop
 
    - pop will remove specific key
    
    - return value
    
- what is popitem

    - remove the last value default
    
    - return the pair
    
- What is del

    - del is a keyword
    
    - it can delete an item by providing specific key

In [20]:
d1={'Ram':25,      
    'Raheem': 30,
    'Robert':35}
#d1.pop('Robert')

In [9]:
list1=[10,20,30,40]
list1.pop(0)
list1

[20, 30, 40]

In [19]:
d1.popitem()

('Ram', 25)

In [21]:
del(d1)

In [23]:
d1={'a':50,'b':100,'c':200}
del d1['a']

In [24]:
d1

{'b': 100, 'c': 200}

In [29]:
d1={'a':1,'b':2,'c':3,'a':4}
del d1['a']
d1

{'b': 2, 'c': 3}

$fromkeys-get$

In [32]:
d1={'a':50,'b':100,'c':200}
d1.get('b')

100

In [55]:
d1={'Ram':25,      
    'Raheem': 30,
    'Robert':35}
#d2=d1.fromkeys('Robert',500)

In [43]:
d2

{'R': 500, 'o': 500, 'b': 500, 'e': 500, 'r': 500, 't': 500}

In [47]:
list1=[10,20,30,40]
d3={}.fromkeys(list1,'A')
d3

{10: 'A', 20: 'A', 30: 'A', 40: 'A'}

In [52]:
d1.setdefault('Ram',35)
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35, 'noob': 35}

In [59]:
d1.setdefault('Ram',35)
d1['Ram']=45
d1

{'Ram': 45, 'Raheem': 30, 'Robert': 35}

In [57]:
d1['city']

KeyError: 'city'

In [60]:
d1={'Ram':25,      
    'Raheem': 30,
    'Robert':35,'Ram':45}
d1

{'Ram': 45, 'Raheem': 30, 'Robert': 35}

In [64]:
d1.update(d2)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'str'

In [73]:
d1={'a':20,'b':30,'c':40}
d2={'e':50,'a':100,'d':200}
d1.update(d2) # Similar to the extend method of list
d1

{'a': 100, 'b': 30, 'c': 40, 'e': 50, 'd': 200}

In [77]:
t1=[(1,2),(4,5)]
d1={}
d1.update(t1)
d1

{1: 2, 4: 5}

In [86]:
d1=(1,2,5,4)
print(type(d1))
dir(d1)

<class 'tuple'>

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']