In [ ]:
# Hiii! How are You.

In [1]:
# Day_29_Nothing

In [3]:
list1=['Ram','Raheem','Robert']
list2=[25,30,35]
for i,j in zip(list1,list2):
    print(f"{i} has age {j}.")

Ram has age 25.
Raheem has age 30.
Robert has age 35.

- {key:value} Every keyword or methods have their own pair.like list has "[]", methods has (),etc.

In [4]:
d1={'Ram':25,'Raheem': 30,'Robert':35}
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [6]:
d2={25:'Ram',30:'Raheem',35:'Robert'}
d2

{25: 'Ram', 30: 'Raheem', 35: 'Robert'}

In [10]:
d3={'even':[2,4,6],
   'odd':[1,3,5]}
d3

{'even': [2, 4, 6], 'odd': [1, 3, 5]}

In [11]:
#List failed in "dict"
d3={[2,4,6]:'even',
   [1,3,5]:'odd'}
d3

TypeError: unhashable type: 'list'

In [12]:
d3={(2,4,6):'even',   # list is failing but tuple is not
   (1,3,5):'odd'}
d3

{(2, 4, 6): 'even', (1, 3, 5): 'odd'}

In [13]:
#dict in dict "Proved"
d5={'item_ list':{"fruits": "Apple"}}
d5

{'item_ list': {'fruits': 'Apple'}}

In [16]:
#dict in dict "Failed"
d6={{"fruits": "Apple"}: 'item_ list'}
d6

TypeError: unhashable type: 'dict'

In [20]:
d7={"Apple": " "}
d7

{'Apple': ' '}

In [27]:
a,b=[1,2]
c,d=(1,2)
print(f"({a},{b},{c},{d})")

(1,2,1,2)

In [28]:
a=1,2
a

(1, 2)

- Dictionary is a key:value pair
- at values position you can take any data type
- at keys position list and dictionary wil fail
- duplicates are not allowed
- If you will update a key value,latest value will take

In [30]:
d1={"A":1,'B':2,'A':1}
d1

{'A': 1, 'B': 2}

In [31]:
d1={"A":1,'B':2,'A':3}
d1

{'A': 3, 'B': 2}

In [2]:
d1={'Ram':25,'Raheem': 30,'Robert':35}
max(d1)

'Robert'

- Maximum and minimum vlaue based on the key only

In [3]:
min(d1)

'Raheem'

In [10]:
len(d1)
sum(d1) #error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
d2={1:2,3:4}
sum(d2)

4

In [9]:
d3={(2,4,6):'even',   # list is failing but tuple is not
   (1,3,5):'odd'}
sum(d3)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

- if key has numeric value then we can sum it up

$in$

In [7]:
d1={'Ram':25,      # whenever you iterate the dictionary
    'Raheem': 30,# only key values will come not the value part
    'Robert':35}
for i in d1:
    print(i)
    if d1[i]==25:
        print("It Works!")
    else:
        print("No!")

Ram
It Works!
Raheem
No!
Robert
No!

In [6]:
d1["Ram"]

25

$index$

In [15]:
l1=[10,20,30,40]
l1[0]
str1='Apple'
str1[0]

'A'

In [20]:
d1={'Ram':25,      
    'Raheem': 30,
    'Robert':35}

d1["Ram"]
for i in d1:
    print(f"The age of {i} is {d1[i]}")

The age of Ram is 25
The age of Raheem is 30
The age of Robert is 35

In [23]:
for i in range(len(l1)):
    print(i,l1[i])

0 10
1 20
2 30
3 40

In [24]:
len(d1)

3

In [25]:
for i in range(len(d1)):
    print(i,d1[i])

KeyError: 0

### Creating a empty dictionary and update

In [27]:
d1={}
d1["fruite"]="Apple" # Updating the dictionary
d1

{'fruite': 'Apple'}

In [29]:
dictionary={}
dictionary["Name"]="Karan Bagarti"
dictionary["Occupation"]="Student"
dictionary["Studying At"]="CUTM"
dictionary["State"]="Odisha"
dictionary

{'Name': 'Karan Bagarti',
 'Occupation': 'Student',
 'Studying At': 'CUTM',
 'State': 'Odisha'}

In [32]:
d1={}
d1["Ram"]="20"
d1["Raheem"]="30"
d1["Robert"]="35"
d1

{'Ram': '20', 'Raheem': '30', 'Robert': '35'}

In [33]:
name={'Ram','Raheem','Robert'}
age=[25,30,35]
dict1={}
for i,j in zip(name,age):
    dict1[i]=j
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [48]:
name={'Ram','Raheem','Robert'}
age=[25,30,35]
dict1=zip(name,age)
for i in dict1:
    print(i)

('Ram', 25)
('Raheem', 30)
('Robert', 35)

In [47]:
dict1={name:age for name,age in zip(name,age)}
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [46]:
import random
dict3={}
even=[]
odd=[]
for i in range(5):
    num=random.randint(19,24)
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
dict3["even"]=even
dict3["odd"]=odd
dict3

{'even': [22, 22], 'odd': [21, 23, 19]}